/Sources/BookToVoice/packages
/Sources/BookToVoice/BookToVoice.suo
/Sources/BookToVoice/BookToVoice.Core.Test/BookToVoice.Core.Test.csproj.user
/Sources/BookToVoice/BookToVoice.sln.DotSettings.user
/Sources/BookToVoice/OpusWrapper.Test/OpusWrapper.Test.csproj.user
/Sources/BookToVoice/OpusWrapper/OpusWrapper.csproj.user
