<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookToVoice.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="fLog" xsi:type="File" fileName="Log.txt"/>
      <target name="iLog" xsi:type="File" fileName="InfoLog.txt"/>
      <target name="DS" xsi:type="OutputDebugString"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="fLog"/>
      <logger name="*" minlevel="Info" writeTo="iLog"/>
      <logger name="*" minlevel="Trace" writeTo="DS"/>
    </rules>
  </nlog>
</configuration>